.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ll {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 150px;
    height: 150px;
    border: 1px solid rgba(1, 5, 12, 0.938);
    border-radius: 50%;
    text-transform: capitalize;
}