.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ll {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 150px;
    height: 150px;
    border: 1px solid rgba(65, 72, 83, 0.938);
    border-radius: 50%;
    text-transform: capitalize;
    transition: ease-in-out background-color 2s;
}