.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.home img {
    border: 1px solid rgb(238, 231, 238);
    border-radius: 100%;
    width: 350px;
    height: 350px;
    margin: 0 80px 0 0;
}



@media (max-width: 500px) {

    .home {
        flex-direction: column;
        margin: 0;
        padding: 20px 0;
    }

    .home img {
        border-radius: 100%;
        width: 330px;
        height: 280px;
        margin: 0;
    }



}



