.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.home img {
    border: 1px solid rgb(238, 231, 238);
    border-radius: 100%;
    width: 350px;
    height: 350px;
    margin: 0 80px 0 0;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.headline h1 {
    font-size: 35px;
    font-weight: 800;
    margin: 30px 0 0 0;
    padding: 0;
}

.headline h3 {
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: black;
}

.sub-headline {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sub-headline div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 210px;
    height: 170px;
    margin: 0 10px;
    padding: 50px 0;
    border: 1px solid rgb(219, 202, 202);
    border-radius: 50%;
    box-sizing: border-box;
}

.sub-headline h3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 ;
    padding: 0;
}

.sub-headline p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

@media (max-width: 500px) {

    .home {
        flex-direction: column;
        margin: 0;
        padding: 20px 0;
    }

    .home img {
        border-radius: 100%;
        width: 330px;
        height: 280px;
        margin: 0;
    }

    .headline {
        justify-content: space-around;
        width: 100%;
    }

    .headline h1 {
        text-align: center;
    }

    .headline h3 {
        font-size: 19px;
        font-weight: 500;
        line-height: 28px;
        margin: 10px 0 0 0;
    }

    .sub-headline {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        margin: 20px 0;
    }

    .sub-headline div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 300px;
        height: 170px;
        margin: 10px 0;
        padding: 50px 0;
        border: 1px solid rgb(219, 202, 202);
        border-radius: 50%;
        box-sizing: border-box;
    }



}



