.faq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faq h1 {
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.faq h2 {
    font-size: 26px;
    margin: 0;
    padding: 50px 0 0 0;
}

.faq p {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 19px;
    line-height: 30px;
    text-align: justify;
}