.articleDetails {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 0 50px 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}
