.header {
    height: 13vh;
    width: 100%;
    position: fixed;
    font-family: inherit;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    margin: 0;
    box-sizing: border-box;
    /* border-bottom: 1px solid black; */
    z-index: 90;
}

