.footer {
    position: relative;
    font-family: inherit;
    font-size: 10px;
    width: 100%;
    height: 5vh;
    background-color: rgb(241, 38, 38);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 0 0 80px;
    box-sizing: border-box;
}

.footer p {
    font-size: 10px;
    font-weight: 400;
}