.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    margin: 0 30px;
}

.navbar .active {
    color: #1d99ff;
}

@media (max-width: 500px) {

    .navbar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .navbar a {
        color: white;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        margin: 20px 0;
    }

    .navbar .active {
        color: #ffffff;
        font-weight: 700;
    }
}